@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header ================================ */
.header {
    padding: 20px 80px 20px 80px;
    height: 100px;
    background-color: white;
    position: static;                       /* 헤더 고정 */
    top: 0px;
}
.header nav.nav_left a{                     /* 로고 */
    padding-left: 0px;
    float: left;
    display: inline;
    margin-bottom: 20px;
    margin-right: 8px;
}
.header .categories a {                     /* 커뮤니티,클래스 */
    margin-top: 20px;
    display: inline;           
    padding-right: 35px;
    font-size: 15px;
    color: #2370DF;
    font-weight: 500;
    text-decoration: none;
}
.header div.header_right {                  /* 헤더 우측 */
    float: right;
    margin-top: 15px;
}
.header div.header_right input {            /* 검색창 */
    width: 260px;
    border: 2.5px solid #2370DF;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
}
.header .header_right a:nth-of-type(1) {    /* 검색버튼 */
    margin-right: 30px;
}
.header div.header_right a{                 /* 마이페이지, 알림 */
    color: #2370DF;
    margin-left: 18px;
    font-size: 20px;
    padding-top: 5px;
    text-decoration: none;
}
.underline {                                /* 밑줄 */
    border: 0;
    height: 5px;
    background: rgb(236, 236, 236);
}

/* content ================================ */

/* 컨텐츠 영역에 양쪽 200px씩 여백주기 */
.content{
    margin: 20px 200px 0px;
}

/* 컨텐츠 영역의 왼쪽 가로 길이 잡아주기 */
.content .content_left {
    width: 259px;

    margin: 20px 0px;
    /* border: 1px solid red; */

    float: left;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필 전제 높이 잡아주기 */
.content .content_left .profile {
    height: 90px;

    /* border: 1px solid palegreen; */
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 사진 전제 크기 잡아주기 */
.content .content_left .profile_photo{
    width: 58px;
    height: 58px;
    border-radius: 50%;

    float: left;

    background-color: gainsboro;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 닉네임 위치 및 크기 잡아주기 */
.content .content_left .profile_id{
    font-weight: bold;
    font-size: 20px;
    padding: 8px 9px 0px 20px;

    float: left;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 트레이너 표시 */
.content .content_left .profile_social{
    width: 18px;
    height: 18px;

    display: inline-block;

    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 13px;

    background-color: #F18E50;
    margin-top: 13px;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 트레이너 레벨 표시 */
.content .content_left .profile_level{
    width: 35px;
    height: 15px;

    display: inline-block;

    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;

    background-color: #FF6565;
    border-radius: 8px;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 소설 로그인 아이디 위치 및 크기 잡아주기 */
.content .content_left .profile_email{
    padding-left: 20px;
    font-size: 12px;
    color: #595959;
}

/* 컨켄츠 영역의 왼쪽 목록 */
.content .mypage_list{
    clear: both;
}

/* 컨텐츠 영역의 왼쪽 목록에 프로필과의 사이 공백 주기 */
.content .content_left .mypage_list ul li{
    margin-top: 18px;
}

/* 컨텐츠 영역의 왼쪽 목록의 li태그들의 css속성 지정 */
.content .content_left .mypage_list ul a {
    font-weight: 450;
    font-size: 14px;
    color: #000000;
}

/* 현재 페이지는 클래스 이름으로 on을 주어 색을 변하게 한다. */
.content .content_left .mypage_list ul a.on {
    color: #2370DF;
}

/* 컨텐츠 영역의 왼쪽 목록의 마지막 li인 경우 밑에도 여백을 주어 밑의 목록과 구분해줘야 한다. */
.content .content_left .mypage_list ul :last-of-type{
    margin-bottom: 18px;
}

/* 목록1 위에 보더로 선 생성 */
.content .content_left .mypage_list .mypage_list_top{
    border-top: 1px solid black;
}

/* 목록2 위에 보더로 선 생성 */
.content .content_left .mypage_list .mypage_list_bottom{
    border-top: 1px solid black;
}

/* 컨텐츠 영역의 오른쪽 부분 정리 */
.content .content_right {
    margin: 20px 20px 0px 0px;
    padding-left: 50px;
    /* border: 1px solid blue; */

    float: right;
}

/* 컨텐츠 영역의 오른쪽 영역의 위 목록을 감싸는 div css속성 지정 */
.content .content_right .mypage_top{
    width: 900px;
    height: 50px;

    margin-right: 200px;
    margin-bottom: 20px;

    border: 1px solid #595959;
    border-radius: 8px;
}

/* 컨텐츠 영역 - 오른쪽 영역 - TR게시판 / 좋아요 / 댓글 목록 ul */
.content .content_right .mypage_toplist{
    margin-top: 15px;
}

/* 컨텐츠 영역 - 오른쪽 영역 - TR게시판 / 좋아요 / 댓글 목록 ul - li */
.content .content_right .mypage_toplist li {
    margin-left: 70px;
    float: left;
}

/* 컨텐츠 영역 - 오른쪽 영역 - TR게시판 / 좋아요 / 댓글 목록 ul - li - a */
.content .content_right .mypage_toplist a {
    font-weight: 450;
    font-size: 14px;
    color: #6A6A6A;
}

/* 현재 탭의 경우에는 밑줄이 그어지고, 글씨가 두껍게 바뀐다. */
.content .content_right .mypage_toplist a.on {
    font-weight: bold;
    color: black;
    padding-bottom: 10px;

    border-bottom: 2px solid black;
}

/* 프로필 탭  ================================ */

/* 프로필탭 전체 위치 정하기 */
.content_right_MyProfile{
    margin-top: 50px;
    margin-left: 50px;
}

/* 컨텐츠 영역의 프로필 전제 높이 잡아주기 */
.content_right_MyProfile_profile {
    height: 90px;
    width: 300px;

    margin-bottom: 40px;
}

/* 프로필 탭의 사진 전제 크기 잡아주기 */
.content_right_MyProfile_photo{
    width: 88px;
    height: 88px;
    border-radius: 50%;

    float: left;

    background-color: gainsboro;
}

/* 프로필 탭의 닉네임 위치 및 크기 잡아주기 */
.content_right_MyProfile_id{
    font-weight: bold;
    font-size: 14px;
    padding: 30px 9px 0px 20px;

    float: left;
}

/* 프로필 탭의 트레이너 표시 */
.content_right_MyProfile_social{
    width: 18px;
    height: 18px;

    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;

    background-color: #F18E50;
    display: inline-block;

    margin-top: 32px;
}

/* 프로필 탭의 트레이너 레벨 표시 */
.content_right_MyProfile_Level{
    width: 35px;
    height: 13px;

    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;

    background-color: #FF6565;
    border-radius: 8px;
    display: inline-block;

    margin-top: 32px;
}

/* 프로필 탭의 이메일 주소 */
.content_right_MyProfile_email{
    padding-left: 20px;
    font-size: 12px;
    color: #595959;
}

/* 프로필 표시 부분  ================================ */
.content_right_MyProfile_content{
    clear: both;
}

/* 프로필의 이름 표시 부분 */
.MyProfile_content_name{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
}

.MyProfile_content_name .MyProfile_content_name_value{
    width: 197px;
    height: 30px;

    font-size: 14px;
    font-weight: normal;
    color: #686868;

    display: inline-block;
    margin-left: 50px;
    padding-left: 10px;

    border: 1.5px solid #A4A4A4;
    border-radius: 8px;
}

.MyProfile_content_name_check_btn{
    display: inline-block;

    width: 89px;
    height: 25px;

    font-size: 14px;
    font-weight: normal;
    color: #2370DF;
    text-align: center;
    align-items: center;

    border: 1px solid #2370DF;
    border-radius: 8px;
    background-color: white;

    margin-left: 3px;
    margin-right: 3px;
}

/* 프로필의 성별 표시 부분 */
.MyProfile_content_gender{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
}

.MyProfile_content_gender .MyProfile_content_gender_value{
    width: 90px;
    height: 30px;

    font-size: 14px;
    font-weight: bold;
    color: black;
    padding-left: 10px;

    display: inline-block;
    margin-left: 63px;

    border-radius: 8px;
}

/* 프로필의 연락처 표시 부분 */
.MyProfile_content_phone{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
}

.MyProfile_content_phone .MyProfile_content_phone_value{
    width: 197px;
    height: 30px;

    font-size: 14px;
    font-weight: normal;
    color: #686868;

    display: inline-block;
    margin-left: 20px;
    padding-left: 10px;

    border: 1.5px solid #A4A4A4;
    border-radius: 8px;
}

.MyProfile_content_phone_check_btn{
    display: inline-block;

    width: 89px;
    height: 25px;

    font-size: 14px;
    font-weight: normal;
    color: #2370DF;
    text-align: center;
    align-items: center;

    border: 1px solid #2370DF;
    border-radius: 8px;
    background-color: white;

    margin-left: 3px;
    margin-right: 3px;
}

/* 프로필의 비밀번호 표시 부분 */
.MyProfile_content_pw{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
}

.MyProfile_content_pw_value{
    width: 197px;
    height: 30px;

    font-size: 14px;
    font-weight: normal;
    color: #686868;

    display: inline-block;
    margin-left: 35px;
    padding-left: 10px;

    border: 1.5px solid #A4A4A4;
    border-radius: 8px;
}

.MyProfile_content_pw>div{
    display: inline-block;

    margin-left: 3px;

    font-weight: normal;
    font-size: 10px;
    color: #FF0000;
}

/* 프로필의 비밀번호 확인 표시 부분 */
.MyProfile_content_pw2{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
}

.MyProfile_content_pw_value2{
    width: 197px;
    height: 30px;

    font-size: 14px;
    font-weight: normal;
    color: #686868;

    display: inline-block;
    margin-left: 5px;
    padding-left: 10px;

    border: 1.5px solid #A4A4A4;
    border-radius: 8px;
}

.MyProfile_content_pw2>div{
    display: inline-block;

    margin-left: 3px;

    font-weight: normal;
    font-size: 10px;
    color: #FF0000;
}

/* 프로필의 이메일 표시 부분 */
.MyProfile_content_email{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
}

.MyProfile_content_email .MyProfile_content_email_value{
    width: 197px;
    height: 30px;

    font-size: 14px;
    font-weight: normal;
    color: #686868;

    display: inline-block;
    margin-left: 50px;
    padding-left: 10px;

    border: 1.5px solid #A4A4A4;
    border-radius: 8px;
}

/* 프로필의 경력사항 표시 부분 */
.MyProfile_content_career{
    position: relative;
}

.MyProfile_content_career>p{
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    margin-bottom: 20px;
}

.MyProfile_content_career .MyProfile_content_career_value{
    width: 197px;
    height: 230px;

    position: absolute;

    font-size: 14px;
    font-weight: normal;
    color: #686868;

    display: inline-block;
    margin-left: 20px;
    padding-left: 10px;

    border: 1.5px solid #A4A4A4;
    border-radius: 8px;
}

/* 프로필 정보 수정 버튼 */
.MyProfile_content_update{
    font-size: 14px;
    font-weight: normal;
    color: white;
    text-align: center;

    padding-top: 5px;
    margin-left: 93px;
    margin-top: 190px;

    display: inline-block;

    width: 100px;
    height: 31px;
    background-color: #2370DF;
    border-radius: 8px;
}

/* 푸터와의 공간 분리 */
.ttt{
    width: 100%;
    height: 1000px;
}

/* Footer ================================ */

.footer {
    height: 280px;
    width: 100%;
    background-color: white;
    position: static;  
    bottom: 0;
    left: 0;
}
.footer img {                                   /* footer로고 */
    width: 120px;
    margin-top: 25px;
    margin-left: 80px;
    display: inline;
    float: left;
}
.footer .notice_service {                      /* 공지사항, 고객센터 */
    float: right;
    margin-top: 20px;
    margin-right: 80px;
}
.footer .notice_service button {
    border-radius: 5px;
    font-weight: bold;
    width: 160px;
    height: 33px;
    border: 2px solid #6C6C6C;
    background-color: white;
    cursor:pointer;                             /* 커서 올렸을 때 손모양으로 */
}
.footer ul.time {                               /* 운영시간 */
    margin-top: 10px;
    list-style: none;
    font-size: 12px;
    color: #6C6C6C;
    margin-bottom: 25px;
}
.footer .underline2 {
    clear: both;
    border: 0;
    height: 1.5px;
    background: rgb(236, 236, 236);
}
.footer .terms {                                 /* 이용약관, 개인정보처리방침 */
    height: 40px;                         
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;
}
.footer a {
    float: left;
    font-size: 15px;
    padding-right: 30px;
    text-decoration: none;
    color: black;
}
.footer .address {
    margin-top: 20px;
    margin-left: 80px;
    line-height: 18px;
}
.footer p {
    font-size: 15px;
}
