@charset "UTF-8";

/* WEB FONTS 적용 ----------------- */
@import url(https://webfontworld.github.io/SCoreDream/SCoreDream.css);

/* 기본적 css 리셋 */
* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}

/* 가이드라인 */
.g{
    border: 1px solid rgb(191, 0, 255);
}

/* 배경 스타일 작업 ================================================== */
body {
    background-color: rgb(227, 227, 227);
    
}
section.wrap {
    display: flex;
}

/* 대시보드 스타일 작업 ==================================================*/
section div.dash { 
    display: inline-block;
    text-align: left;
    width: 1200px;
    height: 1000px;  /*대시보드 컨텐츠 틀 크기 */

    padding: 30px;

    /* height: 300px; */
}
section div.dash h1{ /*회원 대시보드 타이틀*/
    font-size: 25px;
    font-weight: bold;
    color: #95B4E0;
    padding: 10px;
}

/* 오늘의 식단 올리기 대시보드----------------------------------*/
section div.today-food {
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    height: 870px;
}
section div.today-food h2{ /*오늘의 식단 올리기*/
    font-size: 20px;
    font-weight: bold;
    color: #2370DF;
    border-bottom: solid #e7e7e7;

    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 10px;   
}
section div.image-container { /* 사진 첨부파일 박스 */
    margin-top: 30px;
    margin-left: 50px;
    width: 540px;
}
section div.image-container img { /* 파일선택 버튼*/
    border-radius: 18px;
    border: solid #e7e7e7;
}
section div.image-container input { /* 파일선택 버튼*/
    float: right;
    margin-top: 169px;
}


