@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
}
body {
    padding-top: 400px;
}
section {
    width: 800px;
    border: 1px solid red;
    margin: 0 auto;
    margin-bottom: 400px;
}
.inner-contents {
    border: 1px solid blue;
    margin: 20px;
}
.box {
    border: 1px solid green;
}