@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}


/* CONTENTS ================================ */

.contents{
    width: 1040px;
    margin: 0 auto;
    /* border: 10px solid red; */
    padding-top: 35px;
    margin-top: 100px;
}
.contents h3{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: px;
    margin-bottom: 20px;
}
.txt {
    float: left;
    min-width : 2500px;
}
.txt div {
    display: inline;
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}
.c1 li:nth-of-type(5){
    color: #2370DF;
}
.c1 li:nth-of-type(6){
    color: #2370DF;
}
.c1 li{
    /* color: #2370DF; */
    list-style: none;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 37px;
}
/* .txt.c2{
    display: inline-block;
    padding-top: 8px;
    margin-left: 120px;
} */
/* .c2 li{
    list-style: none;   
    display: inline-block;
    float: left;
    margin-left: 64px;
    margin-right: 60px;
} */
.bar progress{
    display: inline;
    width: 100%;
    height: 10px;
}
.class_submit {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    min-width: 1200px;
}
.mark {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    position: absolute;
    margin-top: 5px;
    border-radius: 50%;
    background-color: rgb(147, 147, 147);
}
.mark > a {
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 1%;
    text-decoration: none;
    left: 30%;
}
.con > button.schedule_select {
    margin-top: 20px;
    border: none;
    background-color: #2370DF;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    display: inline;
    float: left;
    box-shadow: 0px 3px 6px 0.5px rgba(0, 0, 0, 0.2);
}
span {
    font-size: 5px;
    color: #ff9100;
    margin-left: 3px;
    margin-top: 2px;
    position: absolute;
}
.sort {
    width: 50px;
    border-radius: 20px;
    margin-left: 15px;
    height: 25px;
    margin-top: 21px;
    float: left;
    background-color: rgb(147, 147, 147);
    box-shadow: 0px 3px 6px 0.5px rgba(0, 0, 0, 0.2);
}
.sort > p {
    margin-top: 3px;
    margin-left: 13px;
    font-size: 12px;
    color: white;
}
.con div.schedule_box_all {
    margin-top: 60px;
}
.con .schedule_box {
    clear: both;
    margin-top: 15px;
    width: 550px;
    height: 260px;
    background-color: red;
    border-radius: 20px;
    position: relative;
    background: linear-gradient( to left, #ff720e55, #2371df4a);
}
.con .schedule_box > a:nth-of-type(1) {
    color: white;
    margin-top: 8px;
    position: absolute;
    margin-left: 495px;
}
.con .schedule_box > a:nth-of-type(2) {
    color: white;
    margin-top: 7px;
    margin-right: 16px;
    display: inline;
    float: right;
    font-size: 19px;
}
.member_term {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    display: inline;
    height: 80px;

}

#term_num {
    min-width: 2000px;
    height: 100px;
    margin-top: 25px;
}
.member_term .term {
    margin-top: 10px;
}

.term > .datepicker > span {
    color: black;
    position: relative;
    margin-top: 12px;
}
.term > .datepicker > input {
    border: 2px solid #2370DF;
    width: 180px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: #666666;
}
.member_num > .num > input {
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #2370DF;
    width: 180px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: #666666;

}
.member_num {
    position: absolute;
    margin-top: 17px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    display: inline;
}
#tag_tuition {
    min-width: 2000px;
    height: 100px;
    margin-top: 20px;
}
.tag {
    position: absolute;
    margin-top: 17px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: bold;
    display: inline;  
}
.tag .tag_input {
    margin-top: 10px;
}
.tag .tag_input > input {
    padding-left: 10px;
    width: 378px;
    height: 40px;
    border: 2px solid #2370DF;
    border-radius: 10px;
    font-size: 14px;
}
.tuition {
    position: absolute;
    margin-top: 17px;
    margin-left: 426px;
    font-size: 18px;
    font-weight: bold;
    display: inline;  
}
.class_tuition > input {
    margin-top: 10px;
    padding-left: 10px;
    width: 390px;
    height: 40px;
    border: 2px solid #2370DF;
    border-radius: 10px;
    font-size: 14px;
    width: 180px;
}
.class_img {
    margin-top: 33px;
    font-size: 18px;
    font-weight: bold;
    min-width: 1200px;
    left: 100px;

}
.class_img > button:nth-of-type(1) {
    margin-top: 40px;
    border: none;
    background-color: #2370DF;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    display: inline;
    float: left;
    position: absolute;
    left: 200px;
    box-shadow: 0px 3px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.class_img > button:nth-of-type(2) {
    margin-top: 40px;
    border: none;
    background-color: rgb(147, 147, 147);
    color: white;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    display: inline;
    float: left;
    position: absolute;
    left: 310px;
    box-shadow: 0px 3px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.page_button{
    margin-top: 180px;
    display: block;
    text-align: center;
    margin-bottom: 180px;
}
.back{
    /* float: left; */
    /* margin-left: 500px; */
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: #919191;
    font-style:9px;
    color: white;;
    border: none;
}
.next{
    /* float: left; */
    /* margin-left: 20px; */
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: #2370DF;
    font-style:9px;
    color: white;;
    border: none;
}

