@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    font-size: 14px;
    box-sizing: border-box;
}

body {
    /* padding-top: 100px; */
}

.contents {
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    width: 1040px;
    text-decoration: none;
}

/* ------------------------------------------------ */

/* 검색 */
.FAQ_box {
    text-align: center;
    /* position: relative; */
    background-color: #929292;
    /* margin: 30px -200px -50px -200px; */
    margin-top: 100px;
    /* width: 1440px; */
    height: 290px;
}

/* 무엇을 도와 드릴까요? */
.FAQ_text {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    margin-right: 470px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.banner_search {
    width: 815px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    position: relative;
}
.banner_search input {
    margin-left: 50px;
    float: left;
    width: 700px;
    height: 70px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 20px;
    padding-left: 260px;
    box-shadow: 5px 5px 10px 0.5px rgba(0, 0, 0, 0.2);
}
.banner_search a {
    display: inline-block;
    padding-top: 115px;
    top: -80px;
    right: 90px;
    text-decoration: none;
    color: #2370DF;
    font-size: 40px;
    position: absolute;
}
/* 돋보기 */
.search > a.fa-solid {
    position: relative;
    left: -55px;
    top: 5px;
    font-size: 32px;
    margin-top: 20px;
    color: #2370DF;
    text-decoration: none;
} 

/* ------------------------------------------------ */

.select_category {
    margin-top: 10px
}

.FAQ_btn1 {
    width: 180px;
    padding: 8px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    background-color: #2370DF;
}

.FAQ_btn2 {
    margin-left: 5px;
    width: 180px;
    padding: 8px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    background-color: #6C6C6C;
}

/* .FAQ_list1 {
    font-size: 14px;
    color: #2370DF;
    border: 2px solid red;
}

.FAQ_list2 {
    font-size: 14px;
    color: black;
}

.FAQ_plus {
    float: right;
    color: #9A9A9A;
} */

/* ------------------------------------------------ */
.table {
    margin-top: 30px
}

.categories {
    font-size: 15px;
    color: #2370DF;
}
.title a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.more a {
    float: right;
    text-decoration: none;
    font-size: 15px;
    color: gray;
}
.table td {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 0.1px solid gray;
}


.FAQ_num1 {
    margin-top: 10px;
    color: #CCCCCC;
}

.FAQ_num2 {
    margin-top: 10px;
    text-align: center;
    color: #EB5757;
}

.FAQ_num3 {
    margin-top: 10px;
    color: black;
}

.FAQ_num1:hover {
    color: #CCCCCC;
    background-color: white;
}

.FAQ_num2:hover {
    color: #EB5757;
    background-color: white;
}

.FAQ_num3:hover {
    color: black;
    background-color: white;
}

.pagination {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}