@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    font-size: 14px;
    box-sizing: border-box;
}

.contents {
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    padding-bottom: 30px;
    width: 1040px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* ------------------------------------------------ */

/* 검색 */
.FAQ_box {
    text-align: center;
    /* position: relative; */
    background-color: #929292;
    /* margin: 30px -200px -50px -200px; */
    margin-top: 100px;
    /* width: 1440px; */
    height: 290px;
}

/* 무엇을 도와 드릴까요? */
.FAQ_text {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    margin-right: 470px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.banner_search {
    width: 815px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    position: relative;
}
.banner_search input {
    margin-left: 50px;
    float: left;
    width: 700px;
    height: 70px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 20px;
    padding-left: 260px;
    box-shadow: 5px 5px 10px 0.5px rgba(0, 0, 0, 0.2);
}
.banner_search a {
    display: inline-block;
    padding-top: 115px;
    top: -80px;
    right: 90px;
    text-decoration: none;
    color: #2370DF;
    font-size: 40px;
    position: absolute;
}
/* 돋보기 */
.search > a.fa-solid {
    position: relative;
    left: -55px;
    top: 5px;
    font-size: 32px;
    margin-top: 20px;
    color: #2370DF;
    text-decoration: none;
} 

/* ------------------------------------------------ */

.select_category {
    margin-top: 10px
}

.FAQ_btn1 {
    width: 180px;
    padding: 8px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #6C6C6C;
}

.FAQ_btn2 {
    margin-left: 5px;
    width: 180px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    background-color: #2370DF;
}

/* ------------------------------------------------ */

.inquiry_title {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
}
.inquiry_box1 {
    margin-top: 30px;
    width: 1040px;
    height: 1040px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 1px 13px 1px #c0bcbc;
    margin-bottom: 50px;
}

.inquiry_box2 {
    width: 940px;
    height: 400px;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 50px 70px;
    text-align: left;
}
.card-text {
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
}

.inquiry_wee {
    color: #2370DF;
    font-size: 20px;
    font-weight: bold;
}
.inquiry_ {
    color: #85EC1D;
    font-size: 20px;
    font-weight: bold;
}
.inquiry_t {
    color: #FF730E;
    font-size: 20px;
    font-weight: bold;
}
.inquiry_btn3 {
    width: 150px;
    margin-top: 100px;
    margin-left: 320px;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: #2E2A2A;
}

/* ------------------------------------------------ */

.inquiry_confirmation_hi {
    height: 110px;
    border-bottom: 0.1px solid gray;
}

.inquiry_confirmation_q {
    margin-top: 30px;
    color: #18A0FB;
    display: inline-flex;
    float: left;
}

.Inquiry_confirmation_btn4 {
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    outline: none;

}

.Inquiry_confirmation_btn4:hover {
    color: black;
}

.Inquiry_confirmation_date {
    margin-top: 40px;
    margin-left: -865px;
    /* margin-bottom: 100px; */
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 500;
    /* float: left; */

}

.Inquiry_confirmation_answer1 {
    /* display: inline-block; */
    width: 170px;
    height: 45px;
    padding-top: 11px;
    border-radius: 20px;
    margin-left: 570px;
    background-color: #999999;
    color: white;
    font-size: 20px;
    /* text-align: center; */
    float: right;
    font-weight: 500;
}


.Inquiry_confirmation_answer2 {
    /* display: inline-block; */
    width: 170px;
    height: 45px;
    padding-top: 11px;
    border-radius: 20px;
    margin-left: 570px;
    background-color: #2370DF;
    color: white;
    font-size: 20px;
    /* text-align: center; */
    float: right;
    font-weight: 500;
}


/* ------------------------------------------------ */

/* .inquiry_confirmation_q2 {
    color: #18A0FB;
    display: inline-flex;
    float: left;
} */

/* .Inquiry_confirmation_btn5 {
    margin-left: 20px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    outline: none;

}

.Inquiry_confirmation_btn5:hover {
    color: black;
}

.Inquiry_confirmation_date2 {
    margin-top: 40px;
    margin-left: -855px;
    color: #C4C4C4;
    font-size: 14px;
    font-weight: lighter;
    border: 20px solid red;

} */